body{
    background-color: #F8F9D7;
}


.text-Pacifico{
    font-family: "Pacifico", cursive;
}
.text-PT{
    font-family: "PT Sans Caption", sans-serif;
}
.form-control:focus {
    box-shadow: unset;
    border-color: rgb(217, 156, 57);
}
.butt-sunmit{
    margin-top: 15px;
    margin-bottom: 20px;
    position: relative;
    left: 45%;
    width: 150px;
}
.bg-green{
    background-color: #8a9e23;
    transition: all 0.2s;
    border-radius: 5px;
    border: none;
}
.bg-green:hover{
    background-color: #7c8f1e;
}
.table-list{
    background-color: #f8f9fa;
}
h2{
    color: #EF4040;
}
h2 i{
    color: #dc3545;    
}

td{
    display: table-cell;
}